* {
  font-family: "Courier New";
}
body {
  background: #e8ded1;
}
#wrapper {
  background: #f5eee6;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 850px;
  height: auto;
  border: 2px solid black;
}
#banner {
  width: 850px;
  height: 300px;
  opacity: 0.7;
}
#nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
  padding: 1.4rem 0rem 1.2rem 0rem;
  background-color: #f0dfc7;
  margin-top: -0.6rem;
}
#nav a {
  color: #705a4b;
  text-decoration: none;
}
#nav a:hover {
  color: indigo;
}
.section {
  text-align: center;
  margin-bottom: 2.8rem;
}
.sectionheading {
  font-size: 2.2rem;
  font-weight: 500;
}
.doggy {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
  margin: 0.1rem;
}
#intro {
  margin: auto;
  width: 700px;
  text-align: left;
}
.text {
  font-size: 1.2rem;
}
.hover {
  border: 2px solid red !important;
}
#loves {
  position: relative;
}
.message {
  position: absolute;
  background-color: #f7d7ad;
  opacity: 0.95;
  width: 300px;
  height: 300px;
  border: 2px solid purple;
  left: 275px;
  top: 210px;
  position: absolute;
  visibility: hidden;
  padding: 1rem;
}
.unhide {
  visibility: visible;
}
.codepen {
  width: 336px;
  height: 252px;
  border: 2px solid black;
  margin: 0.2rem;
}
#email {
  font-size: 1.5rem;
  text-decoration: none;
}
#email:hover {
  color: purple;
}
#contact {
  margin-bottom: 4rem;
}